@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .h-578 {
    height: 578px;
  }
  .max-h-578 {
    max-height: 578px;
  }
  .max-h-505 {
    max-height: 505px;
  }
  .h-505 {
    height: 505px;
  }
  .w-582 {
    width: 582px;
  }
  .h-442 {
    height: 442px;
  }
  .w-min-582 {
    min-width: 582px;
  }
  .h-min-442 {
    min-height: 442px;
  }
  .w-max-582 {
    max-width: 582px;
  }
}